.tables {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.table-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 2px solid forestgreen;
  width: 800px;
}

tr > table {
  width: 100%;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}
